.button{
    padding: 15px 30px;
    display: inline-flex;
    align-items: center;
    text-align: 50px;
    border-radius: 5px;
    font-size: 1.3rem;
    letter-spacing: 0.8px;
    transition: all 120ms ease;
    font-weight: 500;
}

.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}